{% extends "base.html"%}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content%}

<div class="jumbotron">
	<div class="container">
		<h1>Welcome to Flight Finder!</h1>
		
		{% if current_user in User.query.all() %}
  			<p>Welcome {{ current_user.first_name }}! Looking for a flight?</p>
			<p><a class="btn btn-primary btn-lg" href="{{ url_for('search_flights') }}" role="button">Browse Flights &raquo;</a></p>
		{% else %}
			<p>Feel free to browse the flight catalog. We recommend logging in or signing up to reserve flights!</p>
			<p><a class="btn btn-primary btn-lg" href="{{ url_for('login') }}" role="button">Log In &raquo;</a></p>
			<p><a class="btn btn-primary btn-lg" href="{{ url_for('register') }}" role="button">Sign Up &raquo;</a></p>
			<p><a class="btn btn-primary btn-lg" href="{{ url_for('search_flights') }}" role="button">Browse Flights &raquo;</a></p>
		{% endif %}
	</div>
</div>

<h1>How Does it Work?</h1>
<p>Flight finder works by maintaining a database of flights and allows users to reserve them. Users can search for flights without needing to log in, however they must register and/or log in to reserve and purchase any flights. </p>


{% endblock %}
